.navigation {
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 20px;
}
.navigation a {
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  color: #eea082;
}

.activeLink {
  text-decoration: underline;
  color: #ffffff !important;
}

.navigation a:hover {
  color: #ffffff;
}

.navigationCenter {
  margin: 1rem 0;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navigation {
    font-size: 1rem;
    justify-content: center;
    text-align: end;
  }
}
